fastapi==0.110.2
python-dotenv==1.0.1
langchain-community>=0.3.0,<0.3.25
langchain
pinecone>=6.0.0,<7.0.0
spacy==3.7.4
pydantic==2.7.4
uvicorn==0.29.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
thinc==8.2.2
numpy==1.26.4
langchain-core>=0.3.34,<0.4.0
cohere>=5.5.6,<6.0
redis == 6.2.0